In [28]:
import pandas as pd
import numpy as np
# SA1
dic = {'q1': [10, 15, 20, 30, 40, 50], 'q2': [41, 51, 16, 19, 36, 34], 'q3': [90, 45, 67, 132, 10, 41]}
df = pd.DataFrame(dic)
print("For q1:")
print(df.sort_values("q1",ascending=False).iloc[:2,:])
print("For q2:")
print(df.sort_values("q2",ascending=False).iloc[:2,:])
print("For q3:")
print(df.sort_values("q3",ascending=False).iloc[:2,:])

For q1:
   q1  q2  q3
5  50  34  41
4  40  36  10
For q2:
   q1  q2  q3
1  15  51  45
0  10  41  90
For q3:
   q1  q2   q3
3  30  19  132
0  10  41   90

In [5]:
# SA2
dic = {'q1': [10, 15, 20, 30, 40, 50], 'q2': [41, 51, 16, 19, 36, 34], 'q3': [90, 45, 67, 132, 10, 41]}
df = pd.DataFrame(dic)
df.iloc[:,[0,2]]

   q1   q3
0  10   90
1  15   45
2  20   67
3  30  132
4  40   10
5  50   41

In [30]:
# SA3
dic = {'q1': [10, 15, 20, 30, 40, 50], 'q2': [41, 51, 16, 19, 36, 34], 'q3': [90, 45, 67, 132, 10, 41]}
df = pd.DataFrame(dic)
print("original one:")
print(df)
df = df.iloc[2:,:]
print("\nafter removing:")
print(df)

original one:
   q1  q2   q3
0  10  41   90
1  15  51   45
2  20  16   67
3  30  19  132
4  40  36   10
5  50  34   41

after removing:
   q1  q2   q3
2  20  16   67
3  30  19  132
4  40  36   10
5  50  34   41

In [9]:
# SA4
arr = np.arange(24).reshape(2,3,4)
arr

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [14]:
# SA5
np.random.randint(1,13,20)

array([ 4,  2,  3,  6, 10,  6,  1,  6,  4,  1,  3, 10,  1,  2,  3,  5,  4,
       12,  6,  2])

In [32]:
# SA6
arr = np.array([[ 3, 14, 5, 6, 17, 8], [9,10,31,12,13, 4], [ 1, 16, 16, 18, 19, 20],[11, 22, 33, 44, 25,  2]])

print("Calculate according to all")
print("median: ", np.median(arr))
print("mean: ",np.mean(arr))
print("\nCalculate according to column")
print("median: ", np.median(arr,axis=0))
print("mean: ",np.mean(arr,axis=0))
print("\nCalculate according to row")
print("median: ", np.median(arr,axis=1))
print("mean: ",np.mean(arr,axis=1))

Calculate according to all
median:  13.5
mean:  14.958333333333334

Calculate according to column
median:  [ 6.  15.  23.5 15.  18.   6. ]
mean:  [ 6.   15.5  21.25 20.   18.5   8.5 ]

Calculate according to row
median:  [ 7.  11.  17.  23.5]
mean:  [ 8.83333333 13.16666667 15.         22.83333333]